<div class="container">
  <div class="small-screen">
      <div class="line-point">
          <div class="line-point__par"></div>
          <span>Typuj wyniki spotkań sportowych z różnych dyscyplin i zdobywaj punkty oraz aprobatę innych użytkowników!</span>
      </div>
  </div>
  <div class="small-screen">
      <div class="line-point">
          <div class="line-point__par"></div>
          <span>Próbuj poprawnie przewidywać poprawne rezultaty spotkań sportowych i zbieraj punkty</span>
      </div>
  </div>
  <div class="small-screen">
      <div class="line-point">
          <div class="line-point__par"></div>
          <span>Po uzbieraniu odpowiedniej ilości punktów przeznaczaj je na wybrane nagrody!</span>
      </div>
  </div>
  <div class="small-screen">
      <div class="line-point">
          <div class="line-point__par"></div>
          <span>Oglądaj typy innych użytkowników, analizuj i obstawiaj u swojego bukmachera!</span>
      </div>
  </div>

  <div  class="container__block ">
      <div class="container__img initial-animation">
          <img src="../../assets/imgs/ball2.png" alt="Paris">
      </div>
      <div class="container__img initial-animation">
          <div>
              <div class="title">Po prostu typuj!</div>
              <div class="description">
                  Typuj wyniki spotkań sportowych z różnych dyscyplin i zdobywaj punkty oraz aprobatę innych użytkowników!
              </div>
          </div>
      </div>
  </div>
  
  <div  class="container__block">
      <div class="container__img initial-animation">
          <img src="../../assets/imgs/arrow2.png" alt="Paris">
      </div>
      <div class="container__img initial-animation">
          <div>
              <div class="title">
                  Ponawiaj poprawne przewidywania</div>
              <div class="description">
                  Próbuj poprawnie przewidywać poprawne rezultaty spotkań sportowych i zbieraj punkty
              </div>
          </div>
      </div>
  </div> 
  
  
  <div  class="container__block ">
      <div class="container__img initial-animation">
          <img src="../../assets/imgs/done2.png" alt="Paris">
      </div>
      <div class="container__img initial-animation">
          <div>
              <div class="title">Punktow moc!</div>
              <div class="description">
                  Po uzbieraniu odpowiedniej ilości punktów przeznaczaj je na wybrane nagrody!
              </div>
          </div>
      </div>
  </div>
  
  <div class="container__block initial-animation">
      <div class="container__img initial-animation">
          <img src="../../assets/imgs/money.png" alt="Paris">
      </div>
      <div class="container__img initial-animation">
          <div>
              <div class="title">Zarabiaj!</div>
              <div class="description">
                  Oglądaj typy innych użytkowników, analizuj i obstawiaj u swojego bukmachera!
              </div>
          </div>
      </div>
  </div> 
  <button type="button" class="common-button start-button" [routerLink]="'/bets'">ZACZNIJ!</button>
</div>



