<div class="container">
  <div class="container__title">
    Mecze i składy
  </div>
  <div class="container__box container__slider">
    <div class="my-table">
      <table class="table  table-hover">
        <thead>
          <tr>
            <th scope="col">Gospodarz</th>
            <th scope="col">Gość</th>
            <th scope="col">1</th>
            <th scope="col">X</th>
            <th scope="col">2</th>
          </tr>
        </thead>
        <tbody>
            <tr *ngFor="let fixture of tempArray; let i = index" (click)="openTeams(fixture)">
              <td>{{fixture.team1}}</td>
              <td>{{fixture.team2}}</td>
              <td class="marked">{{fixture.win1}}</td>
              <td class="marked">{{fixture.draw}}</td>
              <td class="marked">{{fixture.win2}}</td>
            </tr>
        </tbody>
      </table>
      
    </div>
    <div class="container__team">
      <app-team></app-team>
     
    </div>
    <!-- <div class="pitch">
      <svg class="pitch__svg" id="snap"></svg>
    </div> -->
   
  </div>
  <!-- <div class="container__title">
    Statystyki
  </div>
  <div class="container__box">
    <div class="pitch">
      <svg class="pitch__svg" id="circle"></svg>
    </div>

   
  </div> -->

  <!-- <button type="button" class="profile">
    <svg width="40px" height="40px" viewBox="0 0 16 16" class="bi bi-person-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
      <path d="M13.468 12.37C12.758 11.226 11.195 10 8 10s-4.757 1.225-5.468 2.37A6.987 6.987 0 0 0 8 15a6.987 6.987 0 0 0 5.468-2.63z"/>
      <path fill-rule="evenodd" d="M8 9a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
      <path fill-rule="evenodd" d="M8 1a7 7 0 1 0 0 14A7 7 0 0 0 8 1zM0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8z"/>
    </svg>
  </button>
  <button type="button" class="coupon">
    <svg width="40px" height="40px" viewBox="0 0 16 16" class="bi bi-plus-circle-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
    </svg>
  </button> -->
</div>