<div class="container container__bpl">
  <div class="container__logo initial-animation" style="margin-top: 20px;">


    <div class="container__box">
      <div class="container__teams">
        <div class="team__info">
          Arsenal
        </div>
        <div class="team__info" style="background: linear-gradient(0.25turn, #ebc744, #96b7da);"> 
          Aston Villa
        </div>
        <div class="team__info" style="background: linear-gradient(0.25turn, #1a6bc4, #fff);"> 
          Brighton
        </div>
      </div>

    </div>
    <div class="container__box container__slider">
    </div>
  </div>
</div>